{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="page-inner">
            <div class="page-header">
                <h4 class="page-title">{{ sub_header }}</h4>
                <ul class="breadcrumbs">
                    <li class="nav-home">
                        <a href="#">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li class="separator">
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="#">{{ header }}</a>
                    </li>
                    <li class="separator">
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'category-list' %}">{{ sub_header }}</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="d-flex align-items-center">
                                <h4 class="card-title">{{ card_title }}</h4>
                                {% comment %}<a title="{{ card_title }}" class="btn btn-primary btn-round ml-auto modal_btn" href="{% url 'category-add' %}"
                                   data-toggle="modal" data-target="#modal">
                                    <i class="fa fa-plus"></i>
                                </a>{% endcomment %}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="data-tables display table table-striped table-hover">
                                    <thead>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                    </thead>
                                    <tbody>
                                    {% if categories %}
                                        {% for category in categories %}
                                            <tr>
                                                <td>{{ category.pk }}</td>
                                                <td>{{ category.name }}</td>
                                                <td>
                                                    {% csrf_token %}
                                                    <div class="form-button-action listings">
                                                        <a href="{% url 'category-update' category_id=category.pk %}"
                                                           class="btn btn-link btn-secondary modal_btn" data-toggle="modal"
                                                           data-target="#modal"><i class="fa fa-edit"></i></a>
                                                        {% comment %}<a href="javascript:void(0)" class="btn btn-link btn-danger"
                                                           onclick="DeleteCategory({{ category.pk }})"><i
                                                                class="fa fa-times"></i></a>{% endcomment %}
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr align="center">
                                            <td colspan="2">No Data Found</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content"></div>
        </div>
    </div>
{% endblock content %}
{% block jquery %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".data-tables").DataTable({
                "pageLength": 5,
                "columns": [
                    {
                        "sortable": true
                    },
                    {
                        "sortable": true
                    },
                    {
                        "sortable": false
                    }
                ]
            });
        })

        function DeleteCategory(category_id) {
            var data = {
                'ids': category_id,
                'module_names': "Category",
                'ajaxs_url': 'category-add',
                'responses_url': 'category-list',
            }
            DeleteFunction(data)
        }
    </script>
{% endblock jquery %}